{%  load static %}
{% block footer %}
<footer>
    <div class="footer-banner">
        <img src="{% static 'relax/image/logo.png' %}" alt="Logo">
        <div class="about">
            <p>University: information techology</p>
            <p>relax.it@gmail.com</p>
        </div>
        <div class='media-icons'>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
</footer>
{% endblock %}