{% load static %}
<header>
    <nav class="container">
        <img src="{% static 'relax/image/logo.png' %}" alt="Logo"> 
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Facilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
        </ul>
        <button type="button" class="btn"><span></span>Join Us</button>
    </nav> 
</header>
